openapi: "3.0.0"
info:
  version: 1.0.0
  title: Athena Health
  license:
    name: MIT
servers:
  - url: https://api.athenahealth.com/

components:
  securitySchemes:
    defaultSecurityScheme:
      type: oauth2
      description: This API uses OAuth 2 with the clientCredentials grant flow. [More info](https://api.example.com/docs/auth)
      flows:
        clientCredentials:
          tokenUrl: /oauthpreview/token
          scopes: {}
  parameters:
    limit: 
      name: limit
      in: query
      description: "Number of entries to return (default 1500, max 5000)"
      required: false
      schema:
        type: integer
        format: int32
        maximum: 5000
    offset: 
      name: offset
      in: query
      description: Starting point of entries; 0-indexed
      required: false
      schema:
        type: integer
        format: int32
  schemas:
    PracticesInformation:
      required:
        - iscoordinatorsender
        - hasclinicals
      properties:
        iscoordinatorsender:
          type: boolean
        hasclinicals:
          type: boolean
        name:
          type: string
        golivedate:
          type: string
        experiencemode:
          type: string
        hascommunicator:
          type: boolean
        iscoordinatorreceiver:
          type: boolean
        hascollector:
          type: boolean
        practiceid:
          type: string
    PracticesInformationList:
      required:
        - totalcount
        - practiceinfo
      properties:
        totalcount:
          type: integer
          format: int32
          x-ms-client-name: TotalCount
        practiceinfo:
          type: array
          x-ms-client-name: PracticeInfo
          items:
            $ref: "#/components/schemas/PracticesInformation"
    DepartmentInformation:
      required:
        - creditcardtypes
        - timezoneoffset
      properties:
        creditcardtypes:
          type: array
          items:
            type: string
        timezoneoffset:
          type: integer
          format: int32
        singleappointmentcontractmax:
          type: string
        state:
          type: string
        placeofservicefacility:
          type: boolean
        latitude:
          type: string
        departmentid:
          type: string
        address:
          type: string
        placeofservicetypeid:
          type: string
        longitude:
          type: string
        clinicals:
          type: string
        timezone:
          type: integer
          format: int32
        name:
          type: string
        patientdepartmentname:
          type: string
        chartsharinggroupid:
          type: string
        placeofservicetypename:
          type: string
        zip:
          type: string
        timezonename:
          type: string
        communicatorbrandid:
          type: string
        medicationhistoryconsent:
          type: boolean
        ishospitaldepartment:
          type: boolean
        providergroupid:
          type: string
        portalurl:
          type: string
        city:
          type: string
        servicedepartment:
          type: boolean
        oneyearcontractmax:
          type: string
        fax:
          type: string
        providergroupname:
          type: string
        doesnotobservedst:
          type: string
        phone:
          type: string
        ecommercecreditcardtypes:
          type: array
          items:
            type: string
    DepartmentInformationList:
      required:
        - totalcount
        - departments
      properties:
        totalcount:
          type: integer
          format: int32
          x-ms-client-name: TotalCount
        departments:
          type: array
          items:
            $ref: "#/components/schemas/DepartmentInformation"
    PatientCreatedResponse:
      properties:
        patientid:
          type: integer
          format: int32
          x-ms-client-name: PatientId
    Error:
      required:
        - error
      properties:
        missingfields:
          type: array
          items:
            type: string
        fields:
          type: array
          items:
            type: string
        error:
          type: string
    CreatePersonForm:
      required:
        - dob
      properties:
        address1:
          description: "Patient's address - 1st line (Max length: 100)"
          type: string
        address2:
          description: "Patient's address - 2nd line (Max length: 100)"
          type: string
        city:
          description: "Patient's city (Max length: 30)"
          type: string
        departmentid:
          description: Primary (registration) department ID.
          type: integer
          format: int32
        dob:
          description: Patient's DOB (mm/dd/yyyy)
          type: string
        email:
          description: Patient's email address. 'declined' can be used to indicate just that.
          type: string
        firstname:
          description: Patient's first name
          type: string
  requestBodies:
    CreatePerson:
      x-ms-client-name: createPerson
      required: true
      content:
        'application/x-www-form-urlencoded':
          schema:
            $ref: '#/components/schemas/CreatePersonForm'


security:
  - defaultSecurityScheme: []

paths:
  /practiceinfo:
    get:
      summary: Get available practice IDs
      operationId: getPracticeInfo
      parameters:
        - name: limit
          in: query
          description: Number of entries to return (default 1500, max 5000)
          required: false
          schema:
            type: integer
            format: int32
            maximum: 5000
        - name: offset
          in: query
          description: Starting point of entries; 0-indexed
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Array of available practices
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/PracticesInformationList"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /departments:
    get:
      summary: Get department IDs
      operationId: getDepartments
      parameters:
        - name: limit
          in: query
          description: Number of entries to return (default 1500, max 5000)
          required: false
          schema:
            type: integer
            format: int32
            maximum: 5000
        - name: offset
          in: query
          description: Starting point of entries; 0-indexed
          required: false
          schema:
            type: integer
            format: int32
        - name: hospitalonly
          in: query
          description: 
            If set to true, return hospital only departments.
          required: false
          schema:
            type: boolean
        - name: showalldepartments
          in: query
          description: 
            By default, departments hidden in the portal do not appear. When this is set to true, that restriction is not applied. Default is false.
          required: false
          schema:
            type: boolean
        - name: providerlist
          in: query
          description: 
            If set to true, list providers who see patients in this department. Default is false.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Array of available departments
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/DepartmentInformationList"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"     
  /patients:
    post:
      summary: Register new patient
      operationId: createPatient
      requestBody:
        required: true
        content:
          'application/x-www-form-urlencoded':
            schema:
              type: object
              properties:
                address1:
                  description: "Patient's address - 1st line (Max length: 100)"
                  type: string
                address2:
                  description: "Patient's address - 2nd line (Max length: 100)"
                  type: string
                city:
                  description: "Patient's city (Max length: 30)"
                  type: string
                departmentid:
                  description: Primary (registration) department ID.
                  type: integer
                  format: int32
                dob:
                  description: Patient's DOB (mm/dd/yyyy)
                  type: string
                email:
                  description: Patient's email address. 'declined' can be used to indicate just that.
                  type: string
                firstname:
                  description: Patient's first name
                  type: string
                homephone:
                  description: The patient's home phone number. Invalid numbers in a GET will be ignored. Patient phone numbers and other data may change, and one phone number may be associated with multiple patients. You are responsible for taking additional steps to verify patient identity and for using this data in accordance with applicable law, including HIPAA. Only phone numbers that exist in the North American Naming Plan (NANP) are acceptable for input.
                  type: string
                lastname:
                  description: Patient's last name
                  type: string
                mobilephone:
                  description: The patient's mobile phone number. On input, 'declined' can be used to indicate no number. (Alternatively, hasmobile can also be set to false. "declined" simply does this for you.) Invalid numbers in a GET will be ignored. Patient phone numbers and other data may change, and one phone number may be associated with multiple patients. You are responsible for taking additional steps to verify patient identity and for using this data in accordance with applicable law, including HIPAA. Only phone numbers that exist in the North American Naming Plan (NANP) are acceptable for input.
                  type: string
                state:
                  description: Patient's state (2 letter abbreviation)
                  type: string
                zip:
                  description: Patient's zip. Matching occurs on first 5 characters.
                  type: string
      responses:
        '200':
          description: Array of information about created patients
          content:
            application/json:    
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PatientCreatedResponse"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

